<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Corvin Schapöhler</a>
                <div class="description">
                    <p>I am a Software Engineering student from Germany who blogs about funny bugs and maybe even some interesting topics.</p>
					<p>Currently I'm writing my Bachelors thesis about Container Technology and the question, why Docker became so popular.</p>
					<p>
						<a href="https://twitter.com/cschapoehler" target="_blank">
						<button class="ui circular twitter icon button">
						<i class="twitter icon"></i>
						</button>
						</a>
						
						<a href="https://www.linkedin.com/in/corvin-schap%C3%B6hler/" target="_blank">
						<button class="ui circular linkedin icon button">
						<i class="linkedin icon"></i>
						</button>
						</a>
						
						<a href="https://github.com/Etone" target="_blank">
						<button class="ui circular github icon button">
						<i class="github icon"></i>
						</button>
						</a>
					</p>
                </div>
            </div>
        </div>
    </div>
</div>